/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3d588f;
  --ifm-color-primary-dark: #374f81;
  --ifm-color-primary-darker: #344b7a;
  --ifm-color-primary-darkest: #2b3e64;
  --ifm-color-primary-light: #43619d;
  --ifm-color-primary-lighter: #4665a4;
  --ifm-color-primary-lightest: #5374b6;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #b8d3e0;
  --ifm-color-primary-dark: #9cc1d4;
  --ifm-color-primary-darker: #8db9cd;
  --ifm-color-primary-darkest: #639ebb;
  --ifm-color-primary-light: #d4e5ec;
  --ifm-color-primary-lighter: #e3edf3;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-background-color: #22222a;
}

booth-logo {

}
